* {
  box-sizing: border-box;
}

body {
 font-family: 'Source Sans Pro', sans-serif;
}

.icon-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(16.7rem, auto); 
  align-content: center;
  grid-template-areas: 
    "box1 box1 box2 box9 box9"
    "box3 box4 box5 box9 box9"
    "box6 box7 box8 box9 box9";
    height: 100%;
    width: 100%;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*border: 2px solid black;*/
  color: #f2f1f2;
  font-size: 1.15em;
}

.box:hover {
  border: 2px solid red; 
} 

.icon {
  margin-top: 2em;
  width: 50px;
  color: #f2f1f2;
}

.far {
  margin-top: 1em;
  font-size: 3em;
  color: #f2f1f2;
}

.icon:hover {
  color: #f2f1f2;
}


.box1 {
  grid-area: box1;
  border: 2px solid black;
  background-color: #252525;
  color: #f2f1f2;
}

h1 {
  margin: 1.5em .75em .75em;;
  font-size: 2em;
}

.description {
  margin: 0 1em .5em 1.5em;
  line-height: 1.25em; 
}

.box1-icon {
  color: #f2f1f2;
  width: 15px;
  margin: 0 .30em;
}

button {
  display: inline-block;
  background-color: #625a51;
  color: #f2f1f2;
  border: none /*3px solid*/ ;
  font-size: .75em;
  padding: 1.15em 1.5em 1.15em 1.5em ;
}

button:hover {
  background-color: #f2f1f2;
  color: #252525; 
}

.hang-loose {
  margin: 0 1em 0 2em;
}

.box2 {
  grid-area: box2;
  background-color: #625a51;
}

.box3 {
 grid-area: box3; 
 background-color: #4e4b43;
}

.box4 {
  grid-area: box4;
  background-color: #625a51;
}

.box5 {
  grid-area: box5;
  background-color: #252525;
}

.box6 {
  grid-area: box6;
  background-color: #625a51;
}

.box7 {
  grid-area: box7;
  background-color: #252525;
}

.box8 {
  grid-area: box8;
  background-color: #4e4b43;
}

.box9 {
  grid-area: box9;
  /*border: 2px solid black;*/
  background-image: url("images/Hood.jpg");
  background-size: cover;
  display: inline-block;
  
}

.dots {
  display: flex;
  justify-content: flex-end;
  margin: 1em 1em 1em 1em;
}

.pointers-container {
  display: flex;
  justify-content: space-between;
  height: 86%;
  /*align-content: center;*/
}

.point {
  width: 30px;
}

.point:hover {
  color: #7c674b;
}

.left {
  margin-left: 1rem;
}

.right {
  margin-right: 1rem;
}

/*@media screen and (max-width: 1000px) {  
  .icon-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(16.7rem, auto); 
  align-content: center;

  grid-template-areas:
    "box1 box1 box2 box9 box9"
    "box3 box4 box5 box9 box9"
    "box6 box7 box8 box9 box9"; 
  }
}*/

@media screen and (max-width: 1100px) {
  .icon-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(16.7rem, auto); 
    align-content: center;
    grid-template-areas:
      "box1 box1 box2" 
      "box3 box4 box5" 
      "box6 box7 box8" 
      "box9 box9 box9";
  }
   .box9 {
    background-image: url('images/Door.jpg')
   }
}
    
@media screen and (max-width: 645px) {
.icon-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(16.7rem, auto); 
  align-content: center;
  grid-template-areas:
    "box1 box1"
    "box2 box2"
    "box3 box3"
    "box4 box4"
    "box5 box5"
    "box6 box6"
    "box7 box7"
    "box8 box8"
    "box9 box9";
  }
  .box9 {
   background-image: url('images/Trunk.jpg')
   }

.pointers {
  height: 76%;
}

}

@media screen and (max-width: 500px) {
.icon-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(16.7rem, auto); 
  align-content: center;
  grid-template-areas:
    "box1 box1"
    "box2 box2"
    "box3 box3"
    "box4 box4"
    "box5 box5"
    "box6 box6"
    "box7 box7"
    "box8 box8"
    "box9 box9";
  }
  /*.box9 {
   background-image: url('https://411mania.com/wp-content/uploads/2016/08/Andre-the-Giant-645x370.jpg')
   }*/

  h1 {
  margin: 1em .75em .75em;;
  font-size: 1.5em;
}
.you {
  display: none;
}

.loose {
  display: none;
}
  
button {
  background: none;
  border: 3px solid;
  padding: 1.15em 1.5em 1.15em 1.5em ;
}
.box1-icon {
  width: 40px;
  margin: 0 .30em;
}


}